body{
    background-color: #10181e;
    color: #6b7c70;
}

#home h1{
    margin-left: 130px;
    text-decoration: underline;
    padding-top: 30px;
    font-size: 40px;
}

#home h3{
    margin-left: 130px;
    margin-bottom: 80px;
    white-space: pre-line;
}

.home-card :hover {
    transform: translateY(-5px);
}

#education h1 {
    margin-left: 130px;
    text-decoration: underline;
}

.education-card :hover {
    transform: translateY(-5px);
}

.education-card h3 {
    margin-left: 130px;
}
.education-card p {
    margin-left: 130px;
    margin-bottom: 80px;
}

#experience {
    text-align: left;
}

#experience > h1 {
    text-align: left;
}


.experience-card:hover {
    transform: translateY(-5px);
}

#experience h1{
    margin-left: 130px;
    text-decoration: underline;
}

.experience-header {
    text-align: left;
    margin-bottom: 25px;
    margin-left: 130px;
}

.experience-header h3 {
    margin: 0 0 6px;
    font-size: 1.5rem;
}

.experience-header h4 {
    margin: 0 0 6px;
    color: #6b7c70;
    font-weight: 500;
}

.experience-header p {
    margin: 0;
    color: #6b7c70;
    font-size: 14px;
}

.experience-card ul {
    padding-left: 20px;
    text-align: left;
    margin-bottom: 150px;
}

.experience-card li {
    margin-bottom: 12px;
    margin-left: 130px;
    line-height: 1.7;
    color: #6b7c70;
}

.experience-card li:last-child {
    margin-bottom: 0;
}

#projects h1 {
    text-align: center;
    text-decoration: underline;

}

.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 420px);
    gap: 25px;
    margin-left: 130px;
    margin-top: 30px;
    margin-bottom: 200px;
    align-items: stretch;
}

.project-card {
    padding: 10px;
    border-radius: 15px;
    background-color: #10181e;
    box-shadow: 0 5px 20px rgba(225, 225, 225, 0.5);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    min-height: 40px;
}

.project-card a {
    text-decoration: none;
    color: #060606;
    
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-card h3 {
    margin-bottom: 15px;
}

.project-card ul {
    padding-left: 20px;
}

.project-card li {
    padding-bottom: 8px;
}

.project-tech {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 20px;
    margin-top: auto;
    min-height: 55px;
    align-content: flex-start;
}

.project-tech span {
    padding: 7px 14px;
    border-radius: 20px;
    background-color: #adbdc7;
    color: #212322;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #000507;
}

.project-button {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    padding-top: 15px;
    display: block;

}

.project-button span {
    padding: 7px 14px;
    border-radius: 20px;
    background-color: #adbdc7;
    color: #212322;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #000507;
    
}



#skills h1 {
    text-align: center;
    text-decoration: underline;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    gap: 25px;
    margin-left: 130px;
    margin-top: 30px;
    margin-bottom: 150px;
}

.skill-card {
    padding: 10px;
    border-radius: 15px;
    background-color: #10181e;
    box-shadow: 0 5px 20px rgba(225, 225, 225, 0.5);
    transition: 0.3s;
}

.skill-card:hover {
    transform: translateY(-5px);
}

.skill-card h3 {
    margin-bottom: 15px;
}

.skill-card ul {
    padding-left: 20px;
}

.skill-card li {
    margin-bottom: 8px;
    
}

.navbar {
    background-color: #101f2c;
    padding: 15px 40px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    color: #1c8e62;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    position: absolute;
    left: 0;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: #6b7c70;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #07a869;
}

@media (max-width: 900px) {
    .nav-links {
        display: none;
    }
}

#certifications h1 {
    text-align: center;
    text-decoration: underline;
}

.certifications-container {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    margin-left: 130px;
    gap: 25px;
    margin-top: 30px;
    margin-bottom: 150px;
}

.certification-card {
    padding: 10px;
    border-radius: 15px;
    background-color: #10181e;
    box-shadow: 0 5px 20px rgba(225, 225, 225, 0.5);
    transition: 0.3s;
    display: flex;
    flex-direction: column;

}

.certification-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.certification-card:hover {
    transform: translateY(-5px);
}

#contact h1 {
    text-align: center;
    text-decoration: underline;
}

.contact-container {
    display: grid;
    grid-template-columns: repeat(5, 270px);
    gap: 25px;
    margin-top: 30px;
    margin-bottom: 150px;
    color:  #1c8e62;
}

.contact-card {
    padding: 10px;
    border-radius: 15px;
    background-color: #10181e;
    box-shadow: 0 5px 20px rgba(225, 225, 225, 0.5);
    transition: 0.3s;
    display: flex;
    flex-direction: column;  
}

.contact-card a {
    text-decoration: none;
    color: #6b7c70;
}